body {
    margin: 0;
    font-family: serif;
    background-color: #f4f8fb;
}
    
h1 {
    text-align: center;
    background-color: #1976d2;
    color: #fff;
    margin: 0;
    margin-bottom: 50px;
    box-shadow: 0 0 20px 0 #90caf9;
}

fieldset {
    border: 1px solid #90caf9;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 #b3e5fc;
    background-color: #e3f2fd;
}
label.alinha {
display: inline-block;    
width: 250px;
    text-align: right;
    margin-bottom: 10px;
}
input[type = " number"] {
width: 50px;

}
input[name = "aluno"] {
    width: 250px;
}
input, button {
    font-family: 'Times New Roman', Times, serif;
}
button {
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
display: block;
margin-top: 10px;
}
p {
    border: 1px solid #90caf9;
    background-color: #e1f5fe;
    text-align: center;
}
span {
    font-weight: bold;
    color: #1976d2;
}